
@import "./AuthPage.module.css"; 

/* Podemos adicionar estilos específicos aqui se necessário, mas por enquanto, herdar é o suficiente */
.successMessage {
    color: #166534; /* Verde */
    background-color: #dcfce7;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    margin-top: 1.5rem;
}