@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Fonte mais limpa e moderna para UI */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9FAFB; /* Fundo cinza ultra claro */
  color: #111827; /* Preto suave para textos */
}
:root {
  --primary-color: #6D28D9; /* Roxo vibrante */
  --primary-hover: #5B21B6;
  --secondary-color: #1F2937; /* Cinza escuro para textos */
  --light-gray: #F3F4F6; /* Fundo */
  --text-gray: #6B7280;
  --error-color: #EF4444;
  --error-bg: #FEF2F2;
  --success-color: #10B981;
}

